@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  }

  html { font-family: var(--font-sans); font-feature-settings: "rlig" 1, "calt" 1; }
  body { @apply antialiased bg-white text-neutral-900; }
}

@layer utilities {
  .animate-in { animation-name: animateIn; animation-duration: 350ms; }
  .animate-out { animation-name: animateOut; animation-duration: 350ms; }
}
